html, body, .container-fluid {
  background-color: darkslateblue;
}

.text-input {
  font-size: 16px;
  background-color: gray;
  color: white;
}

.text-input::placeholder {
  color: white;
}

.heading {
  color: white;
}

.hash-output {
  height: 2rem;
  padding: 1%;
  background-color: gray;
  color: white;
}
